.product{
    display: flex;
    margin: 0 5px 20px 40px;
    border-bottom: 1px solid lightgray;

}
.product-name{
    color: blue;
    font-weight: 400;
}
.product-info{
    margin-left: 20px;
    margin-bottom: 10px;
}
.product-cart-btn{
    background-color: goldenrod;
    height: 40px;
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}
